.inputTab{
    height: 100%;
    width: auto;
    margin: 5% 5% 0% 5%;
    
}

.outputTab{
    height:100%;
    width: auto;
    background-image: linear-gradient(to left, #aac9ce, #86c3ce);
    margin: 0% 5% 10% 5%;
    border: outset #ccabd8;
    align-items: flex-end;
}

.messageBox{
    height:auto;
    width: auto;
    border: outset #663399;
    border-color: #fa897b;
    margin: 0% 40% 0% 40%;
    align-content: center;
    background-image: linear-gradient(to right, #e5c1cd ,  #f3dbcf);
}

.loginBar{
    height: auto;
    width: auto;
}




